#newChat {
  position: absolute;
  right: 30px;
  bottom: 40px;
}
.fa-message {
  font-size: 2.4rem;
  color: rgba(39, 166, 82, 0.666);
}
/* .text{
      font-size: 0.7rem;
      padding: 0;
      margin: 0;
      word-wrap: break-word;
      text-align: center;
      line-height: 12px;
    } */

#chatButton {
  border: none;
  background-color: transparent;
}
#chatButton:active {
  transform: translate(-2px, 2px);
  transition: all 0.3s;
}
#chatNowContainer {
    position: absolute;
    right: 0px;
    bottom: 90px;
    border: none;
    background-color:rgba(167, 213, 167, 0.624);
    padding: 10px;
    margin: 10px;
    height: 10rem;
    display: flex;
    width: 20rem;
    display: none;
  }
  .btn-close{
    align-self: flex-end;
  }
  
  #chatNow{
    padding: 0;
    margin: 0;
    width: 18rem;
    align-self: center;
    margin: auto;
  }
  .list-group-item:active {
    transform: translate(2px, 2px);
    transition: all 0.5s;
    box-shadow: #747373;
  }