extends base.pug
block style 
    link(rel="stylesheet", href="/style/newChatButton.css")
block content 
    if allUser 
        .container-sm.mt-4 
            .card(style="width:100%;")
                ul.list-group.list-group-flush#allChatContainer
                    if allUser
                        for user  in allUser
                            li.list-group-item #{user.fullName} 
                                small(style="display:block;") #{user.userId}
    #newChat
        button#chatButton
            i.fa-solid.fa-message
    .card#chatNowContainer.container
        button.btn-close(type='button', aria-label='Close')
        #chatNow
            input.form-control(type='text', placeholder="Recipient's username", aria-label="Recipient's username", aria-describedby='button-addon2' spellcheck="false")
            button.chatNowButton.btn.btn-success.bg-gradient.mt-1.bg-opacity-75(type='button') Chat Now 
    script(src="/script/newChat.js") 